
.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: colume;
    background: linear-gradient(135deg, #153677, #4e085f);
    background-size: cover;
    padding: 40px auto ;
    height: 100vh;
    width: 100%;
}
.splash-container h1 {
    font-family: 'Segoe UI', Tahoma, Arial, Verdana, sans-serif;
    text-align: center;
    font-size: 3em;
    color: rgb(255, 255, 255);
}
.splash-container p {
    font-family:'Segoe UI', Tahoma, Lucida, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
    color:bisque;
}
.splash-container a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 190px;
    background-color: hwb(0 4% 90%);
    border-radius: 20px;
    font-size: 1.0em;
}